.prev-button, .next-button {
  width: 44px;
  height: 44px;
  box-sizing: border-box;
  cursor: pointer;
  z-index: 1;
  position: absolute;
  top: calc(50% - 44px);
  transform: translateY(-50%);
  outline: none;
}

.prev-button {
  left: 0;
  background: url('../../../public/images/icon/b-prev.svg') center no-repeat;
  background-size: 44px;
}

.next-button {
  right: 0;
  background: url('../../../public/images/icon/b-next.svg') center no-repeat;
  background-size: 44px;
}

.prev-button:hover, .next-button:hover {
  transition: 0.3s ease-in-out;
}

.prev-button:hover {
  background: url('../../../public/images/icon/w-prev.svg') center no-repeat;
}

.next-button:hover {
  background: url('../../../public/images/icon/w-next.svg') center no-repeat;
}

/* price info */
.info-box {display: flex; flex-direction: column; align-items: center; margin-top: 12px; padding: 0 16px;}
.info-box .newBest-box {height: 24px;}
.info-box .newBest-box span {margin: 0 4px; font-size: 12px; font-weight: 700;}
.info-box .newBest-box .new {color: #CF0A2C;}
.info-box .newBest-box .best {color: #0A2ACF;}

.info-box .title-box {margin-bottom: 8px;}
.info-box .title {color: #282828; text-align: center; display: -webkit-box; overflow: hidden; width: 100%; max-height: 48px; text-overflow: ellipsis; white-space: normal; word-break: break-all; -webkit-line-clamp: 2; -webkit-box-orient: vertical;}

.info-box .price-box {text-align: center;}
.info-box .price {color: #282828; font-weight: 700;}
.info-box:has(.sale) .price {color: #c1c1c1; font-weight: 100; text-decoration: line-through; font-size: 14px; line-height: 16px;}

.info-box .sale-box {display: flex; margin-top: 4px;}
.info-box .sale-box .sale {color: #CF0A2C; margin-right: 4px; font-weight: 700;}
.info-box .sale-box .sale span {font-size: 14px; margin-left: 1px;}
.info-box .sale-box .newPrice {color: #282828; font-weight: 700;}

/* bestDetail */
.bestDetail-box {margin-top: 76px; padding-bottom: 270px; background: #F8F5EE;}
.bestDetail-box .all-info-wrap {padding-left: 50px; width: calc(100% - 540px);}

.price-info .info-box {align-items: start; margin: 0; padding: 0;}
.price-info .info-box:not(.new, .best) .newBest-box {height: auto;}

.price-info .info-box .title-box {width: 100%; display: flex; margin-bottom: 32px;}
.price-info .info-box .title-box .title {text-align: left; font-weight: 700;}
.price-info .info-box .title-box .share-btn {margin-left: 8px; flex-shrink: 0;}

.price-info .info-box .price-wrap {width: 100%; display: flex; justify-content: space-between; align-items: end; margin-bottom: 30px; padding-bottom: 32px; border-bottom: 1px solid #282828;}
.price-info .info-box .price-box {text-align: left;}
.price-info .info-box:has(.sale) .price {font-size: 18px;}
.price-info .info-box .price-box span {font-size: 20px; margin-left: 2px;}
.price-info .info-box .sale-box .sale {font-size: 24px; margin-right: 10px;}
.price-info .info-box .price, .price-info .info-box .sale-box .newPrice {font-size: 24px;}
.price-info .info-box .coupon-btn {background: #282828; color: #FFF; font-size: 12px; font-weight: 700; height: 24px; padding: 0 10px;}

/* boon */
.boon-box {margin-bottom: 30px; display: flex; align-items: end;}
.boon-box .list {display: flex; line-height: 24px; font-size: 12px; color: #282828;}
.boon-box .list h6 {font-weight: 700; width: 120px;}
.boon-box .line-box {position: relative; line-height: 22px; border-bottom: 1px solid #c1c1c1; margin-left: auto;}
.boon-box .line-btn {color: #757575; font-size: 12px; transition: 0.3s ease-in-out;}
.boon-box .line-btn:hover {color: #282828;}
.boon-box .line-btn ~ .border {position: absolute; bottom: -1px; width: 0; left: 0; height: 1px; transition: ease-in-out 0.3s;}
.boon-box .line-btn:hover ~ .border {width: 100%; border-bottom: 1px solid #282828;}

/* 스크롤바 전체 기본 꾸미기 */
*::-webkit-scrollbar {width: 15px;}
*::-webkit-scrollbar-thumb {background-color: #E0E0E0; border-radius: 7px; background-clip: padding-box; border: 4px solid transparent;}
*::-webkit-scrollbar-track {background-color: transparent;}